<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="./Navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-xl navbar-light bg-dark position-relative h-fixed"
      id="menu"
    >
      <a class="navbar-brand" href="#"
        ><img src="../image/logo.png" alt="Logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto font-weight-bold">
          <li class="nav-item position-relative mr-2 ml-2 ">
            <a class="nav-link text-light" href="#">Home</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">About</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">Services</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">Works</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">Pages</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">Blog</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">Contacts</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative mr-2 ml-2">
            <a class="nav-link text-light" href="#">Features</a>
            <ul
              class="navbar-nav navbar-nav-child d-xl-flex flex-column position-absolute bg-light text-center"
            >
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home1</a>
              </li>
              <li class="nav-item  mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home2</a>
              </li>
              <li class="nav-item mr-2 ml-2">
                <a class="nav-link nav-link-child text-dark" href="#">Home3</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="phone-num">
          <span class="text-light">1-800</span>
          <span class="text-warning">-123-4567</span>
        </div>
      </div>
      <div class="form-search">
        <input type="text" class="search" placeholder="search keyword" />
        <button class="btn btn-light rounded-circle btn-search">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </nav>
    <div class="main">
      Hiếu Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
      perferendis consequatur itaque nemo earum vitae necessitatibus voluptates
      deleniti autem quidem dolore quibusdam amet aspernatur totam vero quas
      dolor magni, reiciendis quia assumenda, asperiores officia numquam est
      doloremque? Culpa quo harum voluptatem praesentium deleniti quibusdam?
      Maiores doloremque commodi, veritatis porro a sapiente dolores reiciendis
      optio consequuntur, nostrum illum id pariatur et iste ratione, aut magni
      hic! Similique, eius corporis cum maiores sequi atque totam ut magnam
      culpa illo beatae esse modi ipsa pariatur quo, sint nostrum. Quasi velit
      distinctio natus rerum vel voluptas, at deserunt obcaecati, laborum
      quaerat amet. Perferendis, tenetur inventore tempora odit magni animi!
      Vitae porro nihil harum cum dolores, sit libero blanditiis soluta
      asperiores voluptate explicabo odit, ducimus omnis nam ipsum, perferendis
      reiciendis. Itaque quasi dolorum cupiditate aperiam distinctio et ipsa
      vel? Iure impedit eos quam iste, adipisci amet voluptatibus perferendis,
      nesciunt tempora et facilis cumque quis ipsa dolorum temporibus
      accusantium ipsam accusamus, perspiciatis optio quibusdam totam.
      Repellendus, dicta nobis. Perspiciatis dolorem blanditiis, consequuntur
      commodi libero vero nostrum molestias ad, fuga asperiores porro autem
      ullam cum aliquid corporis mollitia! Doloribus beatae consectetur error
      hic vitae tempora pariatur iure necessitatibus dolorum repudiandae enim,
      cum exercitationem cumque tempore ab sit. Dolor dolorem autem perspiciatis
      asperiores fugiat doloremque harum sed tempora voluptates deserunt, ut
      expedita optio iure. Veniam quaerat nobis voluptatum. Sapiente molestiae
      praesentium eum hic eius? Adipisci delectus consequatur vitae voluptatibus
      magni repellendus mollitia, quam obcaecati molestiae qui nobis cumque esse
      nemo dicta cupiditate, incidunt quis animi perferendis officiis voluptatum
      illum nulla. Eos, ducimus. Ea modi velit pariatur quos numquam fuga
      reprehenderit, repellendus iure quisquam fugit animi adipisci explicabo
      ratione saepe ullam, praesentium, dolorem maxime quae. Est odit incidunt
      atque earum eum voluptatibus in aperiam fugiat excepturi quis nulla,
      cumque maiores quas temporibus eveniet quasi. Magnam laudantium, impedit
      accusantium, debitis placeat aut amet voluptatum expedita exercitationem
      officiis mollitia eum! Dolor in dolore nam soluta quibusdam, ad
      voluptatibus eum ab optio, excepturi aliquid, rem placeat quis repudiandae
      est facere amet necessitatibus praesentium iusto non vero veritatis
      quisquam sunt omnis. Dolorem ut eveniet, laudantium quia temporibus quo ea
      ad autem, adipisci deserunt quidem repellat similique est facere sed
      architecto iste cum minus enim? Tenetur autem officiis fugiat eaque omnis
      blanditiis quae non molestiae dicta? Ex laborum quibusdam architecto,
      doloribus minus molestias modi quasi. Praesentium nulla cumque
      necessitatibus accusantium sint corrupti explicabo aperiam. Nihil et
      eligendi exercitationem eveniet aliquam quis rem cupiditate, sapiente
      eaque repellendus beatae dignissimos voluptates deleniti reprehenderit,
      ipsa facilis. Voluptates aliquam esse repellendus ipsam provident
      exercitationem veritatis culpa quia debitis voluptate asperiores
      doloribus, deleniti rerum pariatur nesciunt id iure doloremque eos
      quisquam neque minima, maiores fugit! Ipsa officia sed consequatur ullam
      voluptate asperiores labore, assumenda ab expedita quasi repudiandae
      deleniti nisi enim iusto et debitis soluta similique aperiam. Vero
      suscipit, repudiandae expedita id doloribus vel atque deserunt facere ex
      ut minus similique ab laborum blanditiis! Optio ducimus quasi placeat
      officia voluptate in, nihil, ea enim maiores quaerat mollitia unde
      voluptatum aliquam nostrum, ex dolore quae. Natus ullam non vitae aliquam.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto eos
      molestias debitis mollitia? Dolor aut porro in esse quod pariatur ratione
      at vel perspiciatis, similique ullam quo dolorum ipsa atque exercitationem
      eos perferendis nam eligendi, iste repudiandae? Ex similique, odit
      laudantium impedit suscipit perspiciatis saepe cum ducimus. Temporibus
      harum reiciendis nobis dignissimos labore illum laborum, necessitatibus
      accusantium sunt voluptas voluptatibus vel expedita sed. Harum tenetur
      sed, quia ipsam quas sunt omnis possimus illum inventore totam recusandae
      voluptatem alias voluptas autem consequatur eligendi reprehenderit est,
      rerum natus earum officia perspiciatis. Sed vero quis recusandae
      necessitatibus laborum, doloremque provident similique delectus
      perferendis temporibus nostrum deserunt qui aliquam tempora ducimus illo.
      Numquam, blanditiis officia ratione corrupti odit, harum voluptates rem
      nam reiciendis ab adipisci dolor neque, dignissimos nesciunt ducimus!
      Laudantium, ea! Repellendus optio odit cupiditate ex consequuntur
      repudiandae? Voluptatibus totam voluptas sequi voluptatem! Repudiandae
      aperiam perferendis modi, veniam quod in, aliquam explicabo labore
      deleniti, incidunt fuga sunt architecto. Libero commodi illo, aut et ullam
      tempora consectetur quia eaque nostrum ut laboriosam, autem, sit laborum
      alias facere sint aspernatur similique voluptas? A magni libero asperiores
      ipsam consequatur amet possimus tempora architecto iure incidunt minima
      quia sapiente aliquid praesentium exercitationem fuga quae, ut aut placeat
      laudantium modi laboriosam quo. Nihil ratione ipsa, atque perferendis
      reprehenderit aliquam laborum, nobis quibusdam dolorum eligendi doloremque
      nam. Quis minus sit nesciunt ipsum commodi. Nam, dicta quasi deleniti
      magni id dolor harum maxime necessitatibus at? Quam, maxime odio aut
      delectus cumque corporis sequi! Minus quos dolorem in eius voluptatum
      iusto saepe ullam, nisi molestias quo animi possimus sed, amet sint
      recusandae. Dolor, dolore eius commodi, tenetur et provident molestiae
      aperiam a officia error sint pariatur sapiente fugit. Iure repudiandae
      adipisci aspernatur recusandae beatae nostrum quod quidem voluptas a ullam
      assumenda consequatur veritatis molestias velit corrupti optio libero,
      est, corporis unde nihil, omnis iste rem saepe eos! Fugiat saepe
      recusandae nam cum doloremque vel at pariatur ipsam excepturi. Laboriosam
      ullam nobis aliquam exercitationem, facilis, cumque reprehenderit facere
      itaque, sequi fugit iste inventore repudiandae temporibus voluptatem illo
      omnis quos quam! Eaque consequuntur, saepe eveniet sapiente voluptatibus
      maiores architecto et officiis eius ipsam, in animi molestias voluptas
      voluptatum eum possimus corporis iusto laudantium dolores voluptates
      consequatur sit exercitationem! Suscipit doloribus quod architecto
      voluptate temporibus, aspernatur exercitationem impedit natus cupiditate
      qui sapiente optio ea. Velit commodi, nemo hic vero consectetur libero
      voluptas qui modi suscipit illo corrupti fugiat veritatis aut expedita
      saepe ullam maxime ea dicta veniam. Ex consectetur nobis, officia, natus
      debitis perspiciatis maiores ipsam non sit tenetur vero officiis repellat.
      Sint quaerat ipsum distinctio nobis, voluptate unde eaque mollitia
      nesciunt, obcaecati quas ea architecto molestiae atque sapiente culpa
      alias totam aperiam? Est quod hic blanditiis possimus vel iste? Laudantium
      doloremque autem sit, eligendi repellendus modi quos ea perferendis
      aliquid aperiam, earum aut officiis. Illum, ea ipsam? Quis nam incidunt
      nemo eaque in dicta molestias aut, ex magni excepturi laboriosam laborum
      provident culpa nisi alias quidem ea asperiores fugit? Quasi iusto cum
      tempore ex. Quod dicta praesentium accusantium eum sit deleniti? Dolorem,
      dolor!
    </div>
  </body>
  <script src="index.js"></script>
</html>
