* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.vetical-item .media-item {
  max-width: 8rem;
  display: flex;
}

.vetical-item .vetical-body .title {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3 ease-out;
}

.vetical-item .vetical-body .title:hover {
  color: #f1894c;
}

.vetical-item .vetical-body .text {
  color: #8395a7;
}

.row .step-left {
  display: flex;
}

.row .step-left .num {
  font-size: 10rem;
  color: #f1894c;
  padding: 0;
  margin: 0;
  text-align: center;
  margin: auto;
}

.row .step-left .name {
  font-size: 3rem;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin: auto;
  color: white;
}

.step-center .img-step {
  width: 15rem;
  display: flex;
  margin: auto;
  border: 10px solid #8395a7;
}

.row .col-lg-4 .text {
  text-align: center;
  color: #8395a7;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}
